mixin percentage(value=0)
    - var percents = +value;
    - var rest = percents !== 100 ? 100 - percents : 1;
    - var colorRest = percents !== 100 ? 'transparent' : '#e75735';
    .percentage(
        chart-type="donut",
        data-chart-inner-radius="43"
        data-chart-outer-radius="47",
        data-chart-text=percents.toString(),
        data-chart-segments='[ [' + percents + ',"#e75735"], [' + (rest) + ',"' + (colorRest) + '"] ]'
    )
        