mixin photo-grid(photoList)
    .photo-grid.js-photo-grid
        ul.photo-grid__list.js-photo-grid__list
            each item in photoList
                li.photo-grid__item.js-photo-grid__item(data-image=item.image)
                    img.photo-grid__thumbnail(src=item.imageThumbnail, alt=item.imageAlt)
        .photo-grid__big-image
            img(src=photoList[0].image, alt=photoList[0].imageAlt).js-photo-grid__image-actual.photo-grid__image-actual
            .photo-grid__controls
                .photo-grid__control.js-photo-grid__control--left
                    +arrow-button('left', true)
                .photo-grid__control.js-photo-grid__control--right    
                    +arrow-button('right', true)