include /src/components/arrow-button/arrow-button.pug
include /src/components/input/input.pug
include /src/components/textarea/textarea.pug
include /src/components/tickbox/tickbox.pug
include /src/components/toggle/toggle.pug
include /src/components/dropdown/dropdown.pug
include /src/components/stage/stage.pug
include /src/components/slider/slider.pug
include /src/demo/site.blocks/registration-stage-1/registration-stage-1.pug
include /src/demo/site.blocks/registration-stage-2/registration-stage-2.pug
include /src/demo/site.blocks/registration-stage-3/registration-stage-3.pug


mixin registration(stage, title)
    .registration(class=`registration--stage-${stage}`)
        .registration__stage
            +stage(stage, 3)
        form.registration__form
            legend.registration__title=title
            fieldset.registration__form-body
                +#{`registration-stage-`+ stage }()
        .registration__arrows
            - var classLeft = stage===1 ? "registration__arrow-anchor-disabled" : ''
            a.registration__arrow-anchor(href=`./registration${stage===1?3:stage-1}.html`, class=classLeft)
                +arrow-button('left', stage!==1)
            - var classRight = stage===3 ? "registration__arrow-anchor-disabled" : ''
            a(href=`./registration${stage===3?1:stage+1}.html`, class=classRight ).registration__arrow-anchor
                +arrow-button('right', stage!==3)
