include ../button/button.pug

mixin event({image, date:{day, month}, title, copy="lorem ipsum"}={})
    .event(style=`--image-location: url("${image}");`)
        .event__image
        .event__body
            .event__date
                span.event__day=day
                span.event__month=month
            h2.event__title=title
            .event__copy=copy
            .event__button-back
                +button("Add to calendar", {size: 'small'})